*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: url(stadium_bg_wb.png);
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
    float: right;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 15px;
    margin-right: 25px;
    margin-top: 25px;
    display: block ;/* Add this */
    transition: 0.4s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
.main{
    color: #fff;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
}
h1{
    border-left: 8px solid orange;
    font-size: 50px;
    padding-left: 15px;
    margin-bottom: 10px;
}
p{
    font-size: 15px;
}
.the_b{
    color: rgb(0, 0, 0);
    background-color: #fff;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 20px;
    margin-left: 30px;
    margin-top: 30px;
    display: block ;/* Add this */
    margin-right: 1190px;
    border-radius: 40px;
    transition: 0.4s ease;
}
.the_b:hover{
    background-color: transparent;
    color: #fff;
}